fastapi
uvicorn
python-dotenv
ddgs
trafilatura
requests
numpy
pillow
protobuf
tqdm
gfpgan
schedule
pygments
beautifulsoup4
python-multipart
PyJWT
httpx
aiohttp
passlib[argon2]
argon2-cffi
PyPDF2
websocket-client
requests
transformers
soundfile
accelerate
rich
prompt_toolkit
reportlab
textual
sqlalchemy
tiktoken
googletrans==4.0.0-rc1
google-auth~=2.40.3
google-auth-oauthlib~=1.0.0
google-auth-httplib2~=0.1.0
google-api-python-client~=2.85.0
